body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-image: url(dust_scratches.png);
}

main, header {
    max-width: 800px;
    margin: auto;
}
    
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    width: 95%;
}

h1 {
    font-size: 28px;
    color: white;
    background: lightcoral;
    padding: 10px;
}

.link {
    color: lightcoral;
    font-size: 16px;
    padding: 3px;
    font-weight: bold;
    text-decoration: none;
}

section {
    display: flex;
    margin: auto;
}

h2 {
    color: lightcoral;
    font-size: 25px;
}

.image {
    float: left;
    margin: 0px 25px 15px 0px;
    filter:drop-shadow(10px 10px 5px gray)
}

article {
    background-color: white;
    padding: 15px;
    max-width: 525px;
    margin: 0px 20px 50px 0px;
}

p {
    font-size: 15px;
    line-height: 1.3;
}

aside {
    background-color: white;
    max-width: 200px;
    height: 100%;
}

h3 {
    color:lightcoral;
    text-align: center;
}

.social {
    filter:drop-shadow(5px 5px 5px gray);
    padding: 9px;
}

footer {
    background-color: lightcoral;
    color: white;
    padding: 2px 0px;
    font-size: 15px;
    text-align: center;
    margin-top: auto;
}